<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cesar.a6dashboard">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.6DashBoard">
        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:theme="@style/MusicaTheme"
            />
        <activity
            android:name=".Musica_Activity"
            android:exported="true"
            android:theme="@style/MusicaTheme" />
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:theme="@style/QuizzesTheme" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings_Activity"
            android:exported="true"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".Mapas_Activity"
            android:exported="true"
            android:theme="@style/MapasTheme" />
        <activity
            android:name=".Restaurantes_Activity"
            android:exported="true"
            android:theme="@style/RestauranteTheme" />
        <activity
            android:name=".Galaria_Activity"
            android:exported="true"
            android:theme="@style/GaleriaTheme" />
        <activity
            android:name=".Quizzes_Activity"
            android:exported="true"
            android:theme="@style/QuizzesTheme" />
        <activity
            android:name=".EdadCanina_Activity"
            android:exported="true"
            android:theme="@style/PerreteTheme" />
        <activity
            android:name=".Amigos_Activity"
            android:exported="true"
            android:theme="@style/AmigodThme" />
        <activity
            android:name=".Calculadora_Activity"
            android:exported="true"
            android:theme="@style/CalcularaTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>